.about {
  grid-area: about;
  border: 2px solid #7D12FF;
  border-radius: 10px;
  font-size: 30px;
  padding: 10%;
}

@media (min-width: 2001px) {
  .about {
    height: 25vh;
    width: 30vw;
  }
}

@media (max-width: 2000px) {
  .about {
    width: 40vw;
    margin: 10% 0 0 45%;
  }
}

@media (max-width: 1300px) {
  .about {
    font-size: 28px;
    width: 55vw;
    margin: 10% 0 0 18%;
  }
}

@media (max-width: 1050px) {
  .about {
    width: 75vw;
    height: 37vh;
    margin: 10% 0 0 14%;
  }
}

@media (max-width: 800px) {
  .about {
    width: 92vw;
    height: 38vh;
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .about {
    width: 85vw;
    height: 28vh;
    font-size: 16px;
    margin: 0 0 0 8%;
  }
}

