.about {
  margin: 5% 10% 10% 0;
  grid-area: about;
  border: 2px solid #7D12FF;
  border-radius: 10px;
  padding: 5px;
  font-size: 30px;
}

@media (min-width: 2001px) {
  .about {
    height: 25vh;
    width: 30vw;
  }
}

@media (max-width: 2000px) {
  .about {
    width: 40vw;
  }
}

@media (max-width: 1300px) {
  .about {
    width: 45vw;
  }
}

@media (max-width: 1050px) {
  .about {
    width: 35vw;
    margin: 0 10% 0 0;
  }
}

@media (max-width: 500px) {
  .about {
    width: 95vw;
  }
}

