* { box-sizing: border-box; }

ul {list-style-type: none;}

body {
  display: grid;
  grid-gap: 5px;
  background-image: linear-gradient(
    325deg,
    hsl(43deg 72% 45%) 0%,
    hsl(29deg 37% 56%) 9%,
    hsl(351deg 19% 60%) 19%,
    hsl(288deg 20% 57%) 30%,
    hsl(264deg 39% 60%) 41%,
    hsl(254deg 58% 62%) 51%,
    hsl(264deg 39% 60%) 62%,
    hsl(288deg 20% 57%) 72%,
    hsl(351deg 19% 60%) 82%,
    hsl(29deg 37% 56%) 91%,
    hsl(43deg 72% 45%) 100%
  );
    background-size: 400% 400%;
	  animation: gradient 15s ease infinite;
	  height: 100vh;
  }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (min-width: 2001px) {
  body {
    overflow: hidden;
    justify-items: center;
    grid-template-areas:
      'tide profile tagline'
      'about profile followme'
      'cases profile poweredby'
      '. . .'

  }
}

@media (max-width: 2000px) {
  body {
    overflow: hidden;
    justify-items: center;
    grid-template-areas:
      'tagline tagline . .'
      'cases profile tide .'
      'about profile . .'
      'followme followme followme followme'
      'poweredby poweredby poweredby poweredby'
  }
}

@media (max-width: 1300px) {
  body {
    overflow: scroll;
    justify-items: start;
    grid-template-areas:
      'tide tagline tagline temperature'
      'tide rain viz pressure'
      'about about profile light'
      'cases cases profile wind'
      'followme followme followme followme'
      'poweredby poweredby poweredby poweredby'
      '. . . .'
  }
}

@media (max-width: 500px) {
  body {
    overflow:scroll;
    justify-items: center;
    grid-template-areas:
    	'. tagline tagline .'
    	'. tide tide .'
      '. about about .' 
      '. profile profile .'
      '. cases cases .'  
      '. followme poweredby .';
    background-size: 2000% 4000%;
  }
}
