@media (max-width: 1300px) {
  .copyright-brand {
    font-weight: 900;
    background-color: #7f65d6;
    border-radius: 3px;
    box-shadow: 5px 10px #000000;
    padding: 0.45em;
    z-index: 30;
    transition: 1.5s;
  }

  .copyright-brand:hover {
    border-radius: 3px;
    box-shadow: 1px 3px #000000;
    transition: 0.4s;
  }
}

