.declaration {
  margin: 0;
  font-size: 2.5em;
	text-align: center;
}

@media (min-width: 2001px) {
  .declaration {
    text-align: center;
    font-size: 8em;
  }
}

@media (max-width: 2000px) {
  .declaration {
    font-size: 3em;
  }
}

@media (max-width: 1300px) {
  .declaration {
    font-size: 3em;
  }
}

@media (max-width: 1050px) {
  .declaration {
    font-size: 3em;
  }
}

@media (max-width: 500px) {
  .declaration {
    margin: 0;
    font-size: 3em;
    text-align: center;
    bottom: 0;
  }
}
