.final {
  grid-area: final;
  border: 2px solid #7D12FF;
  border-radius: 10px;
  padding: 10%;
  font-size: 30px;
}

@media (min-width: 2001px) {
  .final {
    height: 20vh;
    width: 30vw;
    margin: 0 0 0 15vw;
    transition: 1s;
  }
}

@media (max-width: 2000px) {
  .final {
    width: 40vw;
    margin: 0 0 0 25vw;
    transition: 1s;
  }
}

@media (max-width: 1300px) {
  .final {
    font-size: 28px;
    padding: 1.5rem;
    width: 52vw;
    margin: 0 0 0 22vw;
    transition: 1s;
  }
}

@media (max-width: 1050px) {
  .final {
    margin: 0 0 0 20vw;
    transition 1s;
  }
}

@media (max-width: 800px) {
  .final {
    width: 65%;
    margin: 1rem;
    padding: 5rem 5rem;
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .final {
    width: 45%;
  }
}

