.final {
  grid-area: final;
  border: 2px solid #7D12FF;
  border-radius: 10px;
  padding: 10%;
  font-size: 30px;
}

@media (min-width: 2001px) {
  .final {
    height: 20vh;
    width: 30vw;
  }
}

@media (max-width: 2000px) {
  .final {
    width: 40vw;
    margin: 0 0 0 44%;
  }
}

@media (max-width: 1300px) {
  .final {
    width: 45vw;
    font-size: 28px;
    margin: 0 0 0 18%;
  }
}

@media (max-width: 1050px) {
  .final {
    height: 20vh;
    width: 75vw;
    margin: 0 0 0 14%;
  }
}

@media (max-width: 800px) {
  .final {
    height: 16vh;
    width: 92vw;
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .final {
    height: 13vh;
    width: 85vw;
    font-size: 14px;
    margin: 0 0 0 8%;
  }
}

