.followme {
  grid-area: followme;
  border: 2px solid #7D12FF; 
  padding: 1%;
}

@media (min-width: 2001px) {
  .followme {
    width: 60vw;
    height: 15vh;
  }
}

@media (max-width: 1300px) {
  .followme {
    width: 45vw;
  }
}

@media (max-width: 1050px) {
  .followme {
    width: 60vw;
  }
}

@media (max-width: 500px) {
  .followme {
    min-width: 95vw;
  }
}
