a {
  text-decoration: none;
  color: black;
}

main {
   display: block;
   margin: auto;
  height: 75vh;
  width: 100vw;
  flex: 1;
  grid-area: main;
  z-index: 0;
}

footer {
  bottom: 0; /* Stick to bottom of viewport */
  grid-area: footer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 90vw;
  height: 5vh;
  padding: 2rem 3rem;
  text-align: center;
  color: black;
  z-index: 10;
}

.footer-menu {
  position: fixed;
  bottom: 0;
  left: 100%; /* Initially hidden off-screen */
  width: calc(100vw - 30px);
  height: 10vh;
  opacity: 0;
  background-color: transparent;
  transition: opacity 0.7s ease-in-out;
  z-index: 9; /* Ensure menu is below header but above content */
}

.footer-menu.active {
  bottom: 0; /* Slide in from left on activation */
  opacity: 1;
  left: 16vw;
}

.footer-menu ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-menu li {
  padding: 1rem 2rem;
  transition: 0.7s;
  
  &:hover {
    text-align: center;
    border-radius: 10px;
    background-color: #7f65d6;
  }
}

.footer-menu a {
  text-decoration: none;
  font-size: 1em;
  color: black;
  transition: 0.4s;
  
  &:hover {
    font-size: 1.5em;
    color: #c49520;
  }
}

.follow-me {
  z-index: 30;
}

.follow-me-menu {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 15;
}

@media screen and (max-width: 1880px) {
  .footer-menu.active {
    display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
    opacity: 1;
    height: 45vh;
    width: 30vw;
    z-index: 16;
  }

  .footer-menu ul {
    height: 100%;
    width: 100%;
    flex-direction: column;
    z-index: 16;
  }

  .footer-menu li {
    width: 100%;
    z-index: 17;

    &:hover {
      text-align: center;
      background-color: none;
      border-radius: 0px;
    }
  }

  .footer-menu a {
    font-size: 24px;
    z-index: 18;
  }
}

@media screen and (max-width: 1500px) {
  .foot-menu ul {
    height: 100%;
  }
}



@media screen and (max-width: 1300px) {
  footer {
    width: 92vw;
  }

  .footer-menu.active {
    background-color: none; 
  }

  .footer-menu li {
    background-color: #7f65d6;
  }

  .footer-menu a {
    width: 40%;
    background-color: #c49520;
    border: solid 5px #7f65d6;
    border-radius: 3px;
    box-shadow: 5px 7px #000000;
    padding: 0.25em;

    &:hover {
    color: #7f65d6;
    font-weight: 900;
    border: solid 1px #7f65d6;
    border-radius: 3px;
    box-shadow: 1px 3px #000000;
    transition: 0.4s;
    }
  }
}

@media screen and (max-width: 850px) {
  .footer-menu.active {
    width: 100vw;
  }

  .footer-menu.active {
    font-size: 24px;
  }
}
