.professional {
  position: relative;
  grid-area: professional;
  border: 2px solid #7D12FF;
  border-radius: 10px;
  font-size: 30px;
  padding: 10%;
}

@media (min-width: 2001px) {
  .professional {
    height: 25vh;
    width: 30vw;
  }
}

@media (max-width: 2000px) {
  .professional {
    width: 40vw;
    margin: 0 0 0 13%;
  }
}

@media (max-width: 1300px) {
  .professional {
    width: 45vw;
    font-size: 28px;
    margin: 0 0 0 13%;
  }
}

@media (max-width: 1050px) {
  .professional {
    width: 75vw;
    height: 33vh;
    margin: 0 0 0 14%;
  }
}

@media (max-width: 800px) {
  .professional {
    width: 92vw;
    height: 30vh;
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .professional {
    width: 85vw;
    height: 25vh;
    font-size: 16px;
    margin: 0 0 0 8%;
  }
}

