.professional {
  position: relative;
  grid-area: professional;
  border: 2px solid #7D12FF;
  border-radius: 10px;
  font-size: 30px;
  padding: 10%;
}

@media (min-width: 2001px) {
  .professional {
    height: 25vh;
    width: 30vw;
    margin: 0 0 0 35vw;
    transition: 1s;
  }
}

@media (max-width: 2000px) {
  .professional {
    width: 40vw;
    margin: 0 0 0 15vw;
    transition: 1s;
  }
}

@media (max-width: 1300px) {
  .professional {
    font-size: 28px;
    padding: 1.5rem;
    width: 52vw;
    margin: 0 0 0 22vw;
    transition: 1s;
  }
}

@media (max-width: 1050px) {
  .professional {
    margin: 0 0 0 20vw;
    transition 1s;
  }
}

@media (max-width: 800px) {
  .professional {
    width: 65%;
    margin: 1rem 1rem 1rem 3rem;
    padding: 5rem 5rem;
    font-size: 24px;
  }
}

@media (max-width: 650px) {
  .professional {
    width: 45%;
  }
}

