.about {
  min-height: 315px;
  min-width: 430px;
  grid-area: about;
  border: 2px solid #7D12FF;
  margin: 0 30% 0;
  padding: 1%;
}

@media (max-width: 1925px) {
  .about {
    margin: 0 30% 0 20%;
  }
}

@media (max-width: 1700px) {
  .about {  
    margin: 0;
  }
}

@media (max-width: 400px) {
  .about {
    min-width: 380px;
  }
}
