* { box-sizing: border-box; }

ul {list-style-type: none;}

body {
  overflow:hidden;
  display: grid;
  grid-template-areas:
  	'tagline tagline profile .'
    'cases tide about profile'
    'followme followme profile .' 
    'footer footer profile .';
  grid-gap: 1em;
  max-width: 100%;
  align-items: center;
  background-image: linear-gradient(
    325deg,
    hsl(43deg 72% 45%) 0%,
    hsl(29deg 37% 56%) 9%,
    hsl(351deg 19% 60%) 19%,
    hsl(288deg 20% 57%) 30%,
    hsl(264deg 39% 60%) 41%,
    hsl(254deg 58% 62%) 51%,
    hsl(264deg 39% 60%) 62%,
    hsl(288deg 20% 57%) 72%,
    hsl(351deg 19% 60%) 82%,
    hsl(29deg 37% 56%) 91%,
    hsl(43deg 72% 45%) 100%
  );
    background-size: 400% 400%;
	  animation: gradient 15s ease infinite;
	  height: 100vh;
  }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (min-width: 2300px) {
  body {
  overflow: scroll;
  align-items: center;  
  grid-template-areas:
  	'tagline tagline profile .'
    'cases tide about profile'
    'followme followme profile .' 
    'footer footer profile .';
  }
}

@media (max-width: 1705px) {
  body {
  overflow: scroll;
  align-items: center;  
  grid-template-areas:
  	'tagline tagline'
	'about profile'
	'cases profile' 
	'tide .'
	'followme followme' 
	'footer footer'; 
  }
}

@media (max-width: 1070px) {
  body {
  overflow: scroll;
  align-items: center;
  grid-template-areas:
  	'tagline tagline'
	'about profile'
	'cases profile'
	'tide .'
	'followme footer'; 
  }
}

@media (max-width: 500px) {
  body {
    overflow:scroll;
    align-items: center;
    grid-template-areas:
    	'tagline tagline'
	'about profile'
	'cases profile'
	'tide .'
	'followme footer'
  }
}
