.followme {
  height: 33vh;
  width: 60vw;
  grid-area: followme;
  border: 2px solid #7D12FF; 
  margin: 0 30% 0 0;
  padding: 1%;
}

@media (min-width: 2300px) {
  .followme {
    margin: 0;
    width: 55vw;
  }
}

@media (max-width: 1172px) {
  .followme {
    width: 90vw;
    height: 45vh;
  }
}

@media (max-width: 1070px) {
  .followme {
    width: 60vw;
    height: 55vh;
  }
}

@media (max-width: 820px) {
  .followme {
    width: 60vw;
  }
}
