* {
	box-sizing: border-box;`
}

.center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	padding: 5%;
	border-style: solid;
	border-color: black; 
	box-shadow: 5px 10px #000000;
}

.dark-mode-checkbox {
	display: flex;
}

.dark-mode-checkbox label {
	display: flex;
	cursor: pointer;
}

.dark-mode-checkbox input[type='checkbox'] {
	cursor: pointer;
}

button {
	background-color: #ffdb58;
	box-shadow: 2px 5px #000000;
	cursor: pointer;
}

button:hover {
	border-radius: 5px;
	box-shadow: 1px 2px;
}

button:active {
	box-shadow: 0px 0px;
}
