.profile {
  height: 98vh;
  width: 37vw;
	grid-area: profile;
  border: 2px solid #7D12FF;
  margin: 0 30% 0 0;
  padding: 1%;
}

@media (max-width: 420px) {
  .profile {
    width: 175vw;
    text-align: center;
  }
}
