* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

.base-spl-flap-anim {
   display: flex;
 }

.posi-one, .posi-two, .posi-three, .posi-four, .posi-five, .posi-six {
   overflow: hidden;
   height: 40px;
   font-size: 30px;
   background-color: aqua;
  justify-content: center;
}


.posi-one tr {
   --ch:-2;
   animation: scroll 4s 1s linear forwards;
}

.posi-two tr {
   --ch:-21;
   animation: scroll 4s 1s linear forwards;
}

.posi-three tr {
   --ch:-9;
   animation: scroll 4s 1s linear forwards;
}

.posi-four tr {
   --ch:-12;
   animation: scroll 4s 1s linear forwards;
}

.posi-five tr {
   --ch:-4;
   animation: scroll 4s 1s linear forwards;
}

.posi-six tr {
   --ch:-27;
   animation: scroll 4s 1s linear forwards;
}

@keyframes scroll {
   to{
    transform: translateY(calc(var(--ch) * 100%));
  }
}
