.tide {
  min-height: 315px;
  min-width: 430px;
  grid-area: tide;
  border: 2px solid #7D12FF;
  margin: 0 30% 0;
  padding: 1%;
}

@media (max-width: 1925px) {
  .tide {
    margin: 0 30% 0 20%;
  }
}

@media (max-width: 1700px) {
  .tide {
    max-width: 40vw; 
    margin: 0;
  }
}

@media (max-width: 600px) {
  .tide {
    max-width: 30vw;
  }
}

@media (max-width: 500px) {
  .tide {
    max-width: 175vw;
  }
}
